<!DOCTYPE html>
<html>
<head>
  <title>GregAI - Chat with your investments</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <nav>
      <a class="login-button" href="{{ url_for('login') }}">Login</a>
      <a class="button" href="{{ url_for('signup') }}">Create account</a>
    </nav>
  </header>

  <main>
    <div class="container">
      <h1>The simplest way to manage and interact with your investments portfolio</h1>
      <div class="content">
      <ul>
        <li class="box">
          <strong>Chat with your investments</strong>
          <br><ul class="list-details">Interact naturally with your investment portfolio</ul>
        </li>
        <li class="box">
          <strong>Your personal investment assistant on Whatsapp</strong>
          <br><ul class="list-details">Manage and monitor your investments easily</ul>
        </li>
        <li class="box">
          <strong>The best portfolio analyst you can have</strong>
          <br><ul class="list-details">Have valuable insights about your investments</ul>
        </li>
      </ul>
      <img class="content-image" src="{{ url_for('static', filename='image.jpg') }}" alt="description of image">
      </div>
    </div>
  </main>
</body>
</html>
