aiofiles==23.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.11.2
altair==5.0.1
anyio==3.7.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
Babel==2.12.1
bcrypt==3.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
browser-cookie3==0.19.1
bs4==0.0.1
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cryptography==41.0.2
cssselect==1.2.0
curl-cffi==0.5.7
cycler==0.11.0
dataclasses-json==0.5.8
DateTime==5.2
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.6
dnspython==2.3.0
exceptiongroup==1.1.3
fake-useragent==1.2.1
fastapi==0.96.0
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.12.0
firebase==4.0.1
firebase-admin==5.0.1
flake8==6.1.0
Flask==2.3.2
flask-babel==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==3.0.5
fonttools==4.39.4
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2023.5.0
gcloud==0.17.0
gitdb==4.0.10
GitPython==3.1.32
google-api-core==1.34.0
google-api-python-client==2.93.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
google-search-results==2.4.2
googleapis-common-protos==1.59.1
gradio==3.33.1
gradio_client==0.2.6
grpcio==1.56.0
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.14.0
holidays==0.32
html5lib==1.1
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.17.3
jwcrypto==1.5.0
jws==0.1.3
kiwisolver==1.4.4
langchain==0.0.232
langchainplus-sdk==0.0.17
langsmith==0.0.5
lazy_loader==0.2
Levenshtein==0.21.1
librosa==0.10.0.post2
linkify-it-py==2.0.2
llvmlite==0.40.1
load-dotenv==0.1.0
loguru==0.7.0
lxml==4.9.3
lz4==4.3.2
MailGw-Temporary-Email==0.0.2
Mako==1.2.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
msgpack==1.0.5
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
names==0.3.0
nulltype==2.3.1
numba==0.57.1
numexpr==2.8.4
numpy==1.24.3
oauth2client==3.0.0
openai==0.27.8
openapi-schema-pydantic==1.2.4
orjson==3.9.0
outcome==1.2.0
packaging==23.1
pandas==2.0.2
parse==1.19.1
Pillow==9.5.0
pinecone-client==2.2.2
pipenv==2023.6.12
plaid-python==14.0.0
platformdirs==3.5.3
pooch==1.6.0
proto-plus==1.22.3
protobuf==3.20.3
psycopg-binary==3.1.9
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pycryptodome==3.4.3
pycryptodomex==3.18.0
pydantic==1.10.9
pydeck==0.8.0
pydub==0.25.1
pyee==8.2.2
PyExecJS==1.5.1
pyflakes==3.1.0
Pygments==2.15.1
PyJWT==2.7.0
pymailtm==1.1.1
Pympler==1.0.1
pyparsing==3.0.9
PyPasser==0.0.5
pyperclip==1.8.2
pyppeteer==1.0.2
pyquery==2.0.0
Pyrebase==3.0.27
Pyrebase4==4.5.0
pyrsistent==0.19.3
pyscopg2==66.0.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.15.0
python-jwt==2.0.1
python-multipart==0.0.6
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.2.0
regex==2023.6.3
requests==2.11.1
requests-html==0.10.0
requests-toolbelt==0.7.0
retrying==1.3.4
rich==13.5.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.11.1
selenium==4.11.2
semantic-version==2.10.0
sgmllib3k==1.0.0
six==1.16.0
slack-bolt==1.18.0
slack-sdk==3.21.3
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.16
starlette==0.27.0
streamlit==1.26.0
stripe==6.5.0
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
tls-client==0.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.3
twilio==8.4.0
TwoCaptcha==0.0.1
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.22.0
validators==0.21.2
virtualenv==20.23.0
virtualenv-clone==0.5.7
w3lib==2.1.2
webencodings==0.5.1
websocket-client==1.6.2
websockets==10.4
Werkzeug==2.3.6
wrapt==1.15.0
wsproto==1.2.0
yahoo-fin==0.8.9.1
yarl==1.9.2
yfinance==0.2.28
zipp==3.16.2
zope.interface==6.0
