label {
	/* cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px; */
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	background-color: var(--blur-bg);
	border-radius: var(--border-radius-1);
	border: 1px solid var(--blur-border);
	display: block;
	border-radius: 100px;
	position: relative;
	/* overflow: hidden; */
	transition: 0.33s;
}

#signup-form label {
    color: #474747; 
    display: block;
    margin-bottom: 5px;
    margin-top: 18px;
	justify-content: left; /* Centering text horizontally */
	text-align: left;
}

#login-form label {
    color: #474747; 
    display: block;
    margin-bottom: 5px;
    margin-top: 18px;
	justify-content: left; /* Centering text horizontally */
	text-align: left;
}

#personal-info-form label,
#employment-income-form label,
#life-goals-form label,
#next-years-form label,
#additional-fin-questions-form label,
#risk-form label,
#investment-style-form label,
#risk-fears-form label,
#capital-debt-form label,
#future-preferences-form label {
    color: #474747; 
    display: block;
    margin-bottom: 5px;
    margin-top: 18px;
	justify-content: left;
	text-align: left;
	/* padding-left: 10px;
	padding-right: 10px; */
}








